body{
    background-color: rgba(85, 91, 166, 0.953);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0; 
}
header{
    margin-top: 100px;
    display:inline-flex;
}

a{
    margin-left: 7em;
    text-decoration: none;
    color: black;
}
.noDisplay{
    display: none;
}
.input{
    background-color:rgb(34, 38, 55) ;
    border-radius: 10px;
    color: white;
    text-align: end;
    width:350px;
    height:100px;
    font-size: 1em;
    cursor:none;
}
.button{
    width: 70px;
    height: 40px;
    margin:0.2em;
    margin-top: 0.5em;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5em;
    
}
.del{
    background-color: rgba(28, 35, 113, 0.953); 
    color: white;
}
.reset{
    background-color: rgba(28, 35, 113, 0.953);
    color: white;
    font-size: 1.5em;
    width: 160px;
}
.equal{
    background-color: red;
    color: white;
    font-size: 1.5em;
    width: 160px;
}
main{
    width:350px;
    height: auto;
    text-align: center;
    background-color: rgb(49, 56, 85) ;
    border-radius: 10px;
    margin: 1em;
}
nav{
    display: flex;
}

nav label{
    display: grid;

}
nav label input{
    accent-color: rgb(255, 60, 0);
    width: 20px;
    cursor: pointer;
    margin-top: -3em;
}

h2{
    margin-left: 4em;   
    margin-right: 0.2em;
    margin-top: 1.2em;
}
h1{
    margin-left:0.5em;
}
h3{
    margin-top: 0.5em;
    margin-left: -7em;
}
aside{
    display: grid;
}
aside label{
    margin-bottom: 1em;
    text-align: center;
}
